
.wrap{
	width: 500px;
	height: 400px;
	background-color: blue;
	position: relative;
	margin: auto;
}
#box1, #box2, #box3, #box4, #box5, #box6 {
 
	width: 60px;
	height: 60px;
	background-color: black;
	
	margin: auto;
	
}
#box1{
	left: -30px; top:40px;
	position: absolute;

}
#box2{
 
	left: 470px; top:40px;
 position: absolute;

}
#box3{
	left: -30px; top:140px;
 position: absolute;


}
#box4{
	left: 470px; top:140px;
 position: absolute;

}
#box5{
	left: -30px; top:260px;
 position: absolute;

}
#box6{
	left: 470px; top:260px;
 position: absolute;

}
